*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container{
    width: 400px;
    margin: 100px;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    box-shadow: 0 3px 0 2px rgb(76, 76, 76);
}

.numbers,
.symbols{
    border-radius: 5px;
    box-shadow: 0 1px 0 1px rgb(76, 76, 76);
    text-align: center;
    font-family: 'arial', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.bg-orange{
    background-color: rgb(255, 159, 10);
    color: white;
}

.bg-blue{
    background-color: rgb(119, 168, 176);
    color: white;
}

.bg-grey{
    background-color: rgb(187, 187, 187);    
}
/* LOGO */
.logo-container{
    display: flex;
    justify-content: center;
}
/* DISPLAY */
.display{
    background-color: black;
    font-size: 35px;
    padding: 20px;
    text-align: right;
    color: rgb(8, 213, 161);
    font-family: 'seven segment';
}
/* BIG CONTAINER */
.container{
 display: flex;
 margin-top: 10px;
 margin-bottom: 10px;
}

/* CONTAINEE NUMBERS */
.number{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10px;
}

.numbers{
    width: calc(100% / 3 - 20px);
    height: 70px;
    line-height: 70px;
    margin: 10px;
}

.special{
    flex-grow: 1;
}

/* CONTAINERS SYMBOL */
.symbol{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content:space-around;
}

.symbols{
    height: calc(100% / 5);
    margin-right: 20px;
    margin-left: 5px;
    height: 60px;
    line-height: 60px;
}
